---
Checks:          'clang-diagnostic-*,clang-analyzer-*,bugprone-*,performance-*,readability-*,portability-*,modernize-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
...
